@font-face{
	font-family: "Formula1";
	src: url("FONTS/Formula1-Bold.ttf");
}

/*Style appliqué à toutes ces balises*/
body{
	background-color: #1C1C1C;
	font-family: 'formula1';
}

h1{
	color: white;
	margin-top: 50px;
}

/*Problème données champs de texte dans le input*/
form{
	margin-top: 50px;
	background-color: red;
}

input{
	font-family: 'formula1';
	font-size: 1.8em;
	
	padding-left: 50px;
	
	width: 945px;
	height: 40px;
	
	color: white;
	background-color: #232323;
}

p{
	color: #484848;
}


.header{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.container{
	display: flex;
	
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	
	padding: 20px 50px 20px 50px;
	
	/*A MODIFIER AVEC LE HEADER, PHP POUR LE CHOIX DU GP*/
	margin-top: 20px;
	
	background-color: #232323;
	
	
}

.leftColumn{
	display: flex;
	width: 400px;
}

.numbers{
	width: 50px;
	height: 35px;
	
	padding-top: 15px;
	margin-bottom: 10px;
	margin-right: 10px;
	
	background-color: white;
	
	color: #232323;
	font-size: 1.2em;
	
	text-align: center;
	
	border-radius: 0% 0% 15% 0%;
}

.box{
	cursor: move;
	
	height: 50px;
	margin-bottom: 10px;
	
	width: 340px;
	
	display: flex;
}

.box.over{
	border: 3px solid white;
}

.rightColumn{
	display: flex;
	
	width: 400px;
	
	margin-left: 100px;
}

button{
	display: flex;
	width: 80px;
	margin-left: auto;
	margin-right: auto;
	
	margin-top: 20px;
	
	justify-content: center;
}

.buttons{
	display: flex;
	
	width: 200px;
	margin-right: auto;
	margin-left: auto;
	
	margin-bottom: 20px;
}


@media screen and (max-width: 1000px){
	
	body{
		background-color: #232323;
	}
	
	.container{
		display: block;
		width: 50vh;
		
		margin-left: auto;
		margin-right: auto;
	}
	
	.rightColumn{
		margin: 0;
		
		justify-content: space-around;
	}
	
	.leftColumn{
		margin: 0;
	}

	.box{
		cursor: move;

		height: 50px;
		margin-bottom: 10px;

		width: 340px;

		display: flex;
	}

	.box.over{
		border: 3px solid white;
	}
	
	
}




